<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': postLikes > 0,
                'list-group-item-danger': postLikes < 0
              }">
  <h1>{{ postName }}</h1>
  <h5> le {{ postDate | date: 'dd/MM/yyyy'}}, {{ postDate | date: 'HH:mm'}}</h5>
  <p>{{ postContent}}</p>
  <button (click)="incrementLike()" style="margin-bottom: 20px;" type="button" class="btn btn-success">LOVE IT</button>
  <button (click)="decrementLike()" style="margin-left: 20px;margin-bottom: 20px;" type="button" class="btn btn-danger">DON'T LOVE IT</button>
  <p>Love(s) = {{postLikes}}</p>
</li>