
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Posts</h2>
      <ul class="list-group">
        <app-post-list-item-component *ngFor="let post of posts" 
                                      [postName]="post.title"
                                      [postContent]="post.content"
                                      [postLikes]="post.loveIts"
                                      [postDate]="post.created_at">
        </app-post-list-item-component>
      </ul>
    </div>
  </div>
</div>